numpy==1.26.4
pandas==2.2.3
scipy==1.15.3
scikit-learn==1.2.2
seaborn==0.12.2
matplotlib==3.7.2
optuna==4.5.0
xgboost==2.0.3
lightgbm==4.6.0
category_encoders==2.7.0
joblib==1.5.2
tqdm==4.67.1
imbalanced-learn==0.13.0
